div#single-song-player {
    width: 460px;
    border-radius: 10px;
    margin: auto;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5)
}

div#single-song-player img[amplitude-song-info=cover_art_url] {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}

div#single-song-player div.bottom-container {
    background-color: #202136;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px
}

div#single-song-player div.bottom-container progress.amplitude-song-played-progress:not([value]) {
    background-color: #313252
}

div#single-song-player div.bottom-container progress.amplitude-song-played-progress {
    background-color: #313252;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    display: block;
    cursor: pointer;
    border: none
}

div#single-song-player div.bottom-container progress[value]::-webkit-progress-bar {
    background-color: #313252
}

div#single-song-player div.bottom-container progress[value]::-moz-progress-bar {
    background-color: #00a0ff
}

div#single-song-player div.bottom-container progress[value]::-webkit-progress-value {
    background-color: #00a0ff
}

div#single-song-player div.bottom-container div.time-container {
    opacity: .5;
    font-family: open sans;
    font-weight: 100;
    font-size: 12px;
    color: #fff;
    height: 15px
}

div#single-song-player div.bottom-container div.time-container span.current-time {
    float: left;
    margin-left: 5px
}

div#single-song-player div.bottom-container div.time-container span.duration {
    float: right;
    margin-right: 5px
}

div#single-song-player div.bottom-container div.control-container {
    margin-top: 10px;
    padding-bottom: 10px
}

div#single-song-player div.bottom-container div.control-container div.amplitude-play-pause {
    width: 74px;
    height: 74px;
    cursor: pointer;
    float: left;
    margin-left: 10px
}

div#single-song-player div.bottom-container div.control-container div.amplitude-play-pause.amplitude-paused {
    background: url(/img/amplitudejs/play.svg)
}

div#single-song-player div.bottom-container div.control-container div.amplitude-play-pause.amplitude-playing {
    background: url(/img/amplitudejs/pause.svg)
}

div#single-song-player div.bottom-container div.control-container div.meta-container {
    float: left;
    width: calc( 100% - 84px);
    text-align: center;
    color: #fff;
    margin-top: 10px
}

div#single-song-player div.bottom-container div.control-container div.meta-container span[amplitude-song-info=name] {
    font-family: open sans, sans-serif;
    font-size: 18px;
    color: #fff;
    display: block
}

div#single-song-player div.bottom-container div.control-container div.meta-container span[amplitude-song-info=artist] {
    font-family: open sans, sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #fff;
    display: block
}

div#single-song-player div.bottom-container div.control-container:after {
    content: "";
    display: table;
    clear: both
}

div.player {
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    max-width: 750px
}

div.player img.album-art {
    width: 245px;
    height: 245px;
    float: left
}

div.player div.meta-container {
    float: left;
    width: calc( 100% - 245px);
    padding: 10px
}

div.player div.meta-container div.song-title {
    text-align: center;
    color: #263238;
    font-size: 30px;
    font-weight: 600;
    font-family: open sans, sans-serif
}

div.player div.meta-container div.song-artist {
    text-align: center;
    font-family: open sans, sans-serif;
    font-size: 16px;
    color: #263238;
    margin-top: 10px
}

div.player div.meta-container div.time-container {
    font-family: Helvetica;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px
}

div.player div.meta-container div.time-container div.current-time {
    float: left
}

div.player div.meta-container div.time-container div.duration {
    float: right
}

div.player div.meta-container div.time-container:after {
    content: "";
    display: table;
    clear: both
}

div.player div.meta-container progress.amplitude-song-played-progress:not([value]) {
    background-color: #313252
}

div.player div.meta-container progress.amplitude-song-played-progress {
    background-color: #d7dee3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    height: 8px;
    border: none
}

div.player div.meta-container progress[value]::-webkit-progress-bar {
    background-color: #d7dee3;
    border-radius: 3px
}

div.player div.meta-container progress[value]::-moz-progress-bar {
    background-color: #00a0ff;
    border-radius: 3px
}

div.player div.meta-container progress[value]::-webkit-progress-value {
    background-color: #00a0ff;
    border-radius: 3px
}

div.player div.meta-container div.control-container {
    text-align: center;
    margin-top: 40px
}

div.player div.meta-container div.control-container div.amplitude-prev {
    width: 28px;
    height: 24px;
    cursor: pointer;
    background: url(/img/amplitudejs/previous.svg);
    display: inline-block;
    vertical-align: middle
}

div.player div.meta-container div.control-container div.amplitude-play-pause {
    width: 40px;
    height: 44px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle
}

div.player div.meta-container div.control-container div.amplitude-play-pause.amplitude-paused {
    background: url(/img/amplitudejs/play.svg)
}

div.player div.meta-container div.control-container div.amplitude-play-pause.amplitude-playing {
    background: url(/img/amplitudejs/pause.svg)
}

div.player div.meta-container div.control-container div.amplitude-next {
    width: 28px;
    height: 24px;
    cursor: pointer;
    background: url(/img/amplitudejs/next.svg);
    display: inline-block;
    vertical-align: middle
}

div.player:after {
    content: "";
    display: table;
    clear: both
}

@media screen and (max-width:39.9375em) {
    div.player img.album-art {
        width: 100%;
        height: auto
    }
    div.player div.meta-container {
        width: 100%
    }
    div.player div.control-container div.amplitude-prev {
        margin-right: 75px
    }
    div.player div.control-container div.amplitude-next {
        margin-left: 75px
    }
}

@media screen and (min-width:40em) and (max-width:63.9375em) {
    div.player div.control-container div.amplitude-prev {
        margin-right: 40px
    }
    div.player div.control-container div.amplitude-next {
        margin-left: 40px
    }
}

@media screen and (min-width:64em) {
    div.player div.control-container div.amplitude-prev {
        margin-right: 75px
    }
    div.player div.control-container div.amplitude-next {
        margin-left: 75px
    }
}

div#amplitude-features {
    background-color: #f1f1f1;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: open sans, sans-serif
}

div#amplitude-features div.feature-header {
    color: #272726;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px
}

div#amplitude-features div.feature-header div.img-container {
    width: 25px;
    display: inline-block;
    margin-right: 15px;
    text-align: center
}

div#amplitude-features div.feature-body {
    color: #777;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 30px
}

div#more-amplitude-features {
    background-color: #0cb;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: open sans, sans-serif
}

div#more-amplitude-features h3#more-features-header {
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 33px;
    font-family: open sans, sans-serif;
    font-weight: 600
}

div#more-amplitude-features ul#more-features-list {
    padding: 0;
    list-style-type: none;
    margin-left: 100px
}

div#more-amplitude-features ul#more-features-list li {
    font-size: 18px;
    color: #fff;
    font-family: open sans, sans-serif;
    margin-top: 10px
}

div#more-amplitude-features ul#more-features-list li img {
    margin-right: 15px
}

@media screen and (max-width:39.9375em) {
    div#more-amplitude-features ul#more-features-list {
        margin-left: 20px
    }
    div#more-amplitude-features ul#more-features-list li {
        font-size: 16px
    }
    div#more-amplitude-features ul#more-features-list li img {
        margin-right: 5px;
        width: 20px
    }
}

div#amplitude-footer {
    background-color: #00a0ff;
    padding-top: 50px
}

div#amplitude-footer a#get-started-button {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    display: block;
    margin: auto;
    cursor: pointer;
    width: 300px;
    text-align: center;
    font-family: open sans, sans-serif;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 18px;
    margin-bottom: 50px
}

div#amplitude-footer span#creatively-crafted {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-family: open sans, sans-serif;
    margin-bottom: 25px
}

div#amplitude-footer img#footer-logo {
    display: block;
    margin: auto;
    margin-bottom: 20px
}

div#amplitude-footer ul#footer-links {
    margin: 0;
    margin-bottom: 10px;
    text-align: center
}

div#amplitude-footer ul#footer-links li {
    display: inline-block;
    font-size: 12px;
    line-height: 17px;
    width: 100px;
    border-right: 1px solid #fff
}

div#amplitude-footer ul#footer-links li:last-child {
    border-right: 0
}

div#amplitude-footer ul#footer-links li a {
    font-family: open sans, sans-serif;
    color: #fff
}

div#amplitude-footer div#preload {
    width: 0;
    height: 0
}

div#white-top {
    background: #fff;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 9
}

div#white-top img.logo {
    display: inline-block;
    max-height: 40px;
    margin-top: 10px;
    margin-left: 30px;
    max-width: 250px
}

div#white-top ul.list {
    float: right;
    list-style: none;
    font-family: open sans, sans-serif
}

div#white-top ul.list li {
    display: inline-block;
    line-height: 60px;
    margin-left: 10px;
    margin-right: 10px
}

div#white-top ul.list li a {
    color: #37474f;
    text-decoration: none
}

div#responsive-menu-container {
    position: fixed;
    z-index: 9999;
    display: none
}

div#responsive-menu-container #hamburger {
    display: none
}

div#responsive-menu-container #hamburger:checked~.responsive-menu {
    width: 250px;
    padding-top: 50px;
    overflow-y: scroll;
    padding-left: 20px;
    height: 100vh
}

div#responsive-menu-container #hamburger:checked~.menuicon span {
    background-color: transparent
}

div#responsive-menu-container #hamburger:checked~.menuicon span::before,
div#responsive-menu-container #hamburger:checked~.menuicon span::after {
    margin-top: 0;
    -webkit-transition-delay: 0, .2s;
    transition-delay: 0, .2s
}

div#responsive-menu-container #hamburger:checked~.menuicon span::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

div#responsive-menu-container #hamburger:checked~.menuicon span::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

div#responsive-menu-container .menuicon {
    position: absolute;
    top: 19.5px;
    left: 10px;
    display: block;
    cursor: pointer;
    height: 21px;
    width: 25px
}

div#responsive-menu-container .menuicon span {
    display: block;
    top: 8px;
    width: 25px;
    height: 5px;
    border-radius: 3px;
    background-color: #78909c;
    position: relative;
    -webkit-transition-duration: 0;
    transition-duration: 0;
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

div#responsive-menu-container .menuicon span::after,
div#responsive-menu-container .menuicon span::before {
    display: block;
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    border-radius: 3px;
    background-color: #78909c;
    -webkit-transition-property: margin, -webkit-transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-delay: .2s, 0;
    transition-delay: .2s, 0
}

div#responsive-menu-container .menuicon span::before {
    margin-top: -8px
}

div#responsive-menu-container .menuicon span::after {
    margin-top: 8px
}

div#responsive-menu-container .responsive-menu {
    display: block;
    background: #fff;
    -webkit-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, .12);
    box-shadow: 3px 0 3px 0 rgba(0, 0, 0, .12);
    width: 0;
    height: 100%;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    overflow: hidden
}

div#responsive-menu-container .responsive-menu a.responsive-link {
    display: block;
    font-size: 18px;
    color: #78909c;
    margin-top: 15px;
    font-family: open sans, sans-serif;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 600
}

div#responsive-menu-container .responsive-menu .responsive-level-2-link {
    margin-left: 20px;
    color: #37474f;
    font-size: 13px;
    line-height: 26px;
    text-decoration: none;
    font-size: 14px;
    display: block
}

@media screen and (max-width:39.9375em) {
    div#responsive-menu-container {
        display: block
    }
    div#white-top img.logo {
        display: block;
        margin: auto;
        margin-top: 10px;
        max-width: 250px
    }
    div#white-top ul.list {
        display: none
    }
}

@media screen and (min-width:40em) and (max-width:63.9375em) {
    div#responsive-menu-container {
        display: block
    }
    div#white-top img.logo {
        display: block;
        margin: auto;
        margin-top: 10px;
        max-width: 250px
    }
    div#white-top ul.list {
        display: none
    }
}

div#sidebar {
    width: 300px;
    min-height: 100vh;
    float: left;
    overflow-y: auto;
    padding-top: 70px;
    padding-left: 50px
}

div#sidebar span.header {
    font-weight: 700;
    color: #272726;
    font-size: 18px;
    display: block;
    margin-bottom: 20px
}

div#sidebar a.sidebar-link {
    display: block;
    font-size: 18px;
    color: #78909c;
    line-height: 27px;
    font-family: open sans, sans-serif
}

@media screen and (max-width:39.9375em) {
    div#sidebar {
        display: none
    }
}

@media screen and (min-width:40em) and (max-width:63.9375em) {
    div#sidebar {
        display: none
    }
}

div#examples-container {
    width: calc( 100% - 300px);
    float: left;
    min-height: 100vh;
    overflow-y: auto;
    padding-top: 90px
}

div#examples-container h2.title {
    color: #263238;
    font-size: 30px;
    font-family: open sans, sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    margin-left: 0
}

div#examples-container h2.title.underline {
    border-bottom: 1px solid #ccc
}

div#examples-container p.example-description {
    font-family: open sans, sans-serif;
    font-size: 15px;
    color: #272726;
    line-height: 24px;
    margin-top: 40px
}

div#examples-container a.download-on-github {
    background: #00a0ff;
    -webkit-box-shadow: 0 1px 0 0 #003da5;
    box-shadow: 0 1px 0 0 #003da5;
    border-radius: 4px;
    display: block;
    width: 256px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-family: open sans, sans-serif;
    font-weight: 700;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px
}

div#examples-container div.player-screenshot-container {
    height: 240px;
    background: #fff;
    -webkit-box-shadow: 0 3px 7px 4px rgba(0, 0, 0, .08);
    box-shadow: 0 3px 7px 4px rgba(0, 0, 0, .08);
    text-align: center
}

div#examples-container div.player-screenshot-container img {
    display: inline-block
}

div#examples-container div.player-screenshot-container img.single-song {
    margin-top: 30px
}

